<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.ClubMapper">


    <select id="selectAll" resultType="com.example.entity.Club">
        select `club`.*, `student`.`name` as `leader_name` from `club`
        left join `student` on `club`.`leader_id` = `student`.`id`
        <where>
            <if test="name != null and name !='' ">club.name like '%${name}%'</if>
        </where>
        order by id desc
    </select>

    <insert id="insert">
        insert into `club`(name,description,avatar,leader_id,status)
        values(#{name},#{description},#{avatar},#{leaderId},#{status})
    </insert>

    <update id="update">
        update `club` set name=#{name},description=#{description},avatar=#{avatar},status=#{status},leader_id=#{leaderId} where
        id=#{id}
    </update>

</mapper>